*{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
:root{
    --textcolor: black;
    --bgcolor: white;
    --ulcolor: black;
    --bordercolor: rgba(0, 0, 0, 0.5);
    --svg: black;
}

body{
    color: var(--textcolor);
    background-color: var(--bgcolor);
}
main{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5vh;
    align-items: center;
}

svg{
    display: inline;
}

#top{
    margin-block-start: 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#top ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
li{
    list-style: none;
    margin: 2vw;
}
a{
    text-decoration: none;
    color:var(--ulcolor);
    font-weight: 600;
}
#top h1{
    padding: 1rem;
    text-align: center;
    font-size: 4rem;
}


#aboutme,.techstack{
    font-size: 1.25rem;
    text-align: left;
    padding-inline: 10vw;
}
.techstack{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: calc(max(1vh,1vw));
    row-gap: 1vw;
}
.techstack span{
    border-radius: 0.5em;
    border: 1px solid var(--bordercolor);
    color: var(--textcolor);
    padding-inline: 0.5rem;
    padding-block: 0.3rem;
    margin-block-start: 0.3rem;
}

#projects{
    padding-inline: 10vw;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(450px,1fr));
    grid-gap: 7px;
}


.cell{
    border-radius: 0.5rem;
    border: 1px solid var(--bordercolor);
    padding: max(1rem,16px);
}
.title{
    font-size: 105%;
    font-weight: 600;
    display: flex;
    justify-content: start;
    align-items: center;
}
.title a:hover{
    cursor: pointer;
    text-decoration: underline;
}
.content{
    margin-block: 0.5em;
    font-size: 85%;
}
.tags{
    font-size: 85%;
}
 
#contactbox form{
    display: grid;
    padding-inline: 10vw;
    gap: 1vh;
}
#contactbox form input,#contactbox form textarea{
    color: var(--textcolor);
    border-radius: 0.5rem;
    border: 1px solid var(--bordercolor);
    outline: none;
    background-color: var(--bgcolor);
    resize: none;
    padding: 0.7em;
}
#contactbox form label{
    margin-block-start: 0.5em;
}
#contactbox form :first-child{
    margin-block-start: -1rem;
}
#contactbox form textarea{
    min-height: 20vh;
    overflow-y: auto;
    overflow-x: hidden;
}
#contactbox form button{
    background-color: royalblue;
    color:white;
    border: none;
    padding: 0.7em;
    border-radius: 0.5rem;
    margin-block: 1vh;
}
#contactbox form button:hover{
    cursor: pointer;
}


#contact{
    margin-inline: auto;
    margin-block: 1.25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#contact ul{
    display: flex;
    justify-content: center;
}

.projecttitle{
    color: royalblue;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}
path{
    fill: var(--svg);
}